html{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 35px;
    background-color: #fff;
    
}

header h2{
    font-size: 20px;
    color: black;
}

header button {
    background-color: rgb(214, 111, 255);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border: 35px;
    border-radius: 35px;
    display: flex;
    margin: 15px;
}

header button:hover {
    background-color: rgb(156, 0, 218);
}

button img{
    width: 25px;
    padding-right: 5px;
}

.knopka_text{
    padding-top: 5px;
    padding-left: 3px;  
}

header img{
    margin-left: 15px;
}

.conteiner-1{
    background: linear-gradient(to bottom right, #e7b4ff, #b7d4ff); /* Градиентный фон */
    font-family: Arial, sans-serif; /* Шрифт для всего сайта */
    color: #fff; /* Цвет текста */
    padding: 0;
    margin: 0;
    border-radius: 35px;
}

.text-conteiner-1{
    font-size: 40px;
    padding-left: 55px;
}

.text-conteiner-1 img{
    width: 650px;
    float: right;
    margin-right: 35px;
    margin-bottom: 50px;
}

.text-conteiner-1 p{
    font-size: 20px;
    margin-right: 25px;
}

.text-conteiner-1-stata{
    margin-left: 55px;
    font-size: 50px;
}

.blue-text{
    color: #c997ff;
}

.button-2{
    background-color: rgb(214, 111, 255);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border: 35px;
    border-radius: 35px;
    display: flex;
    margin: 15px;
    font-size: 35px;
    align-items: center;
    margin-left: 55px;
    margin-bottom: 10px;
    position: relative; /* устанавливаем позиционирование */
    top: -25px;   
}


.button-2:hover {
    background-color: rgb(156, 0, 218);
}

.button-2  img{
    width: 35px;
    padding-right: 5px;
}

.conteiner-2{
    color: rgb(0, 0, 0)    ;
    font-size: 25px;
}


.conteiner-2 h2{
    text-align: center  ;
}

.drygoe{
    font-family: 'Times New Roman', Times, serif;
}

.polosa{
    position: relative;
}

.polosa::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px; /* Высота полосы */
    background-color: rgb(0, 0, 0); /* Цвет полосы */
}

.conteiner-2 h3{
    margin-left: 55px;
}

.conteiner-2 img{
    width: 650px; 
    float: left; /* выравниваем изображение слева */
    margin-right: 20px;
}

.conteiner-2 h3{
    margin-top: 85px;
}

.conteiner-3 h2{
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
}


.conteiner-3 table{
    border-radius: 50px;
    text-decoration: solid; 
    padding: 10px; /* устанавливаем отступы внутри ячеек */
    width: 500px; /* устанавливаем ширину ячеек */
    float: left;
    background-color: rgb(234, 234, 234);
    border: 1px;
}

table {
    border-collapse: collapse;
  }
  
  td, th {
    border: none; /* убираем границы у ячеек */
  }

.conteiner-3{
    margin-top: 50px;

}

.conteiner-4{
    text-align: center;
    font-size: 30px;

}

.button-3{
    background-color: rgb(214, 111, 255);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border: 35px;
    border-radius: 35px;
    display: flex;
    margin-left: 525px;
    font-size: 20px;

}
.button-3:hover {
    background-color: rgb(156, 0, 218);
}

footer{
    background-color: #efefef;
    border-radius: 20px;
    border: 1px;
}

.conntact{
    display: flex;
    align-items: center;
    margin-left: 10px;
    justify-content: inline-block;
    font-size: 20px;
    
}

.conntact img{
    width: 35px;
    height: 35px;
}

footer h3{
    margin: 10px;
}
